<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" style=""><!--<![endif]--><head>
    <meta charset="utf-8">
    <title>62 Buckingham Gate</title>
    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
    <meta content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <link type="text/css" href="/public/css/font.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/site.css">

    <!--[if IE 8]>
    <script src="/public/js/libs/respond.min.js" type="text/javascript"></script>
    <!--<![endif]-->
    <script src="/public/js/libs/modernizr-2.6.2.js"></script>

</head>
<body class="projects">
<div class="orientation">
    <div class="device">
    </div>
    <div class="message">
        <h1>LSM.COM</h1>
        <p>The site is best viewed<br>on a tablet device or<br>desktop computer</p>
    </div>
    <div class="address">
        <p>1212 Banks NW <br>Washington, DC 20007 <br>Tel +1 202 295 4800</p>
    </div>
</div>
<div>
<header class="header" style="height: 60px; overflow: hidden;">
    <h1 class="logo">
        <a href="/">
            <img width="68" height="29" alt="Lehman Smith McLeish" src="/public/images/lehman-smith-mcLeish-logo.png">
        </a>
    </h1>
    <nav role="navigation" class="nav">
        <ul>
            <li data-height="222" class="projects li-parent">
                <a onclick="return false;" href="#" class="first">Projects</a>
                <ul class="sub-nav" style="opacity: 0.01; display: block; height: 7px;">
                    <!-- <li><a href="/case-studies/">Show All</a></li> -->
                    <li><a href="/case-studies/62-buckingham-gate/#/overview/1">62 Buckingham Gate</a></li>
                    <li><a href="/case-studies/gannett-usa-today/#/overview/1">Gannett / USA Today</a></li>
                    <!-- 	          				<li><a href="/case-studies/brookfield/#/overview/1">Brookfield</a></li> -->
                    <li><a href="/case-studies/general-dynamics/#/overview/1">General Dynamics</a></li>
                    <li><a href="/case-studies/gulfstream/#/overview/1">Gulfstream</a></li>
                    <li><a href="/case-studies/k-and-l-gates/#/overview/1">K&amp;L Gates</a></li>
                    <li><a href="/case-studies/tishman-speyer/#/overview/1">Tishman Speyer</a></li>
                </ul>
            </li>
            <li data-height="222" class="collaborations li-parent">
                <a href="/home/collaborations/">Collaborations</a>
                <ul class="sub-nav" style="opacity: 0.01; display: block; height: 7px;">
                    <li><a href="/home/collaborations/#/art/1">Art</a></li>
                    <li><a href="/home/collaborations/#/buildings/1">Buildings</a></li>
                    <li><a href="/home/collaborations/#/furniture/1">Furniture</a></li>
                    <!-- 	          				<li><a href="/home/collaborations/#/knoll-furniture/1">Knoll Furniture</a></li> -->
                    <li><a href="/home/collaborations/#/lighting/1">Lighting</a></li>
                    <!-- <li><a href="/home/collaborations/#/experience/1">Experience</a></li> -->
                    <li><a href="/home/collaborations/#/workspace/1">Workspace</a></li>
                </ul>
            </li>
            <li data-height="222" class="about li-parent">
                <a href="/home/about/">About</a>
                <ul class="sub-nav" style="opacity: 0.01; display: block; height: 7px;">
                    <li><a href="/home/about/#/the-studio/1">LSM Studio</a></li>
                    <li><a href="/home/about/#/approach/1">Approach</a></li>
                    <li><a href="/home/about/#/clients/1">Clients</a></li>
                    <li><a href="/home/about/#/awards-and-honors/1">Awards &amp; Honors</a></li>
                    <li><a href="/home/about/#/publications/1">Publications</a></li>
                    <li><a href="/home/about/#/news/1">News</a></li>
                </ul>
            </li>
            <li data-height="454" class="contact li-parent">
                <a href="/home/contact">Contact</a>
                <div class="sub-nav contact-info-box" style="opacity: 0.01; display: block; height: 7px;">
                    <p class="address">
                        <a href="/home/contact">
                            LSM<br>
                                <span>1212 Banks Street NW<br>
                                Washington, DC 20007
                                </span>
                        </a>
                    </p>
                    <p>
                        TEL<br>
                        <span>+1 (202) 295-4800</span>
                    </p>
                    <p>
                        EMAIL<br>
                        <a href="mailto:info@lsm.com" class="contact-link">info@lsm.com</a>
                    </p>
                    <p>
                        BUSINESS ENQUIRIES<br>
                        <a href="mailto:marketing@lsm.com" class="contact-link">marketing@lsm.com</a>
                    </p>
                    <p>
                        CAREER OPPORTUNITIES<br>
                        <a href="mailto:careers@lsm.com" class="contact-link">careers@lsm.com</a>
                    </p>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div role="main" class="main">


    <div class="intro-title" style="display: none;">
        62 Buckingham Gate
    </div>
    <div class="img-viewer" style="height: 795px;">
        <button class="arrow arrow-left" style="left: 0px;"></button>
        <div class="img-scroller" style="top: 0px;">

            <section id="overview" style="height: 795px;">
                <div data-name="Overview" class="row" data-count="6" style="width: 8640px; left: 0px;">
                    <div class="slide current" style="width: 1440px;">

                        <div data-artist="Grayson Perry" data-url="/public/images/06b307c0-7268-479a-b4ce-75ac61a43e81/62_buckingham_gate_overview_5_mini.jpg" class="img" style="width: 1440px; background-image: url(&quot;/public/images/62_buckingham_gate_overview_5_mini.jpg&quot;);"></div>

                    </div>
                    <div class="slide" style="width: 1440px;">

                        <div data-url="/public/images/62__0019_62_overview_2_mini.jpg" class="img" style="width: 1440px; background-image: url(&quot;/public/images/62__0019_62_overview_2_mini.jpg&quot;);"></div>

                    </div>
                    <div class="slide" style="width: 1440px;">

                        <div data-url="/public/images/62__0017_62_overview_4_mini.jpg" class="img" style="width: 1440px; background-image: url(&quot;/public/images/62__0017_62_overview_4_mini.jpg&quot;);"></div>

                    </div>
                    <div class="slide" style="width: 1440px;">

                        <div data-url="/public/images/62__0014_62_overview_7_mini.jpg" class="img" style="width: 1440px; background-image: url(&quot;/public/images/62__0014_62_overview_7_mini.jpg&quot;);"></div>

                    </div>
                    <div class="slide" style="width: 1440px;">

                        <div data-url="/public/images/62__0013_62_overview_8_mini.jpg" class="img" style="width: 1440px; background-image: url(&quot;/public/images/62__0013_62_overview_8_mini.jpg&quot;);"></div>

                    </div>


                </div>
            </section>
            <section id="process" style="height: 795px;">
                <div data-name="Process" class="row" data-count="4" style="width: 5760px; left: 0px;">
                    <div class="slide" style="width: 1440px;">

                        <div data-url="/public/images/62-buckingham-gate_process_resize.jpg" class="img second" style="width: 1440px; background-image: url(&quot;/public/images/62-buckingham-gate_process_resize.jpg&quot;);">
                        </div>
                        <div class="img-revealer">
                            <div data-url="/public/images/62__0012_62_process_1_mini.jpg" class="img" style="width: 1440px; background-image: url(&quot;/public/images/62__0012_62_process_1_mini.jpg&quot;);">
                            </div>
                        </div>

                    </div>
                    <div class="slide" style="width: 1440px;">

                        <div data-url="/public/images/62-buckingham-gate_046_resized.jpg" class="img second" style="width: 1440px; background-image: url(&quot;/public/images/62-buckingham-gate_046_resized.jpg&quot;);">
                        </div>
                        <div class="img-revealer">
                            <div data-url="/public/images/v07_resized.jpg" class="img" style="width: 1440px; background-image: url(&quot;/public/images/v07_resized.jpg&quot;);">
                            </div>
                        </div>

                    </div>
                    <div class="slide" style="width: 1440px;">

                        <div data-url="/public/images/62__0009_62_process_2a_mini.jpg" class="img second" style="width: 1440px; background-image: url(&quot;/public/images/62__0009_62_process_2a_mini.jpg&quot;);">
                        </div>
                        <div class="img-revealer">
                            <div data-url="/public/images/62__0010_62_process_2_mini.jpg" class="img" style="width: 1440px; background-image: url(&quot;/public/images/62__0010_62_process_2_mini.jpg&quot;);">
                            </div>
                        </div>

                    </div>


                </div>
                <div class="before-and-after left before" style="opacity: 1;">VISION</div>
                <div class="before-and-after right after" style="opacity: 1;">REALITY</div>
            </section>
            <section id="return-on-investment" style="height: 795px;">
                <div data-name="RETURN ON INVESTMENT" class="row" data-count="6" style="width: 8640px; left: 0px;">
                    <div class="slide" style="width: 1440px;">

                        <div data-artist="Stuart Haygarth" data-url="/public/images/62__0003_62_roi_4a_mini.jpg" class="img" style="width: 1440px; background-image: url(&quot;/public/images/62__0003_62_roi_4a_mini.jpg&quot;);"></div>

                    </div>
                    <div class="slide" style="width: 1440px;">

                        <div data-url="/public/images/62__0005_62_roi_2_mini.jpg" class="img" style="width: 1440px; background-image: url(&quot;/public/images/62__0005_62_roi_2_mini.jpg&quot;);"></div>

                    </div>
                    <div class="slide" style="width: 1440px;">

                        <div data-url="/public/images/62__0000_62_roi_7_mini.jpg" class="img" style="width: 1440px; background-image: url(&quot;/public/images/62__0000_62_roi_7_mini.jpg&quot;);"></div>

                    </div>
                    <div class="slide" style="width: 1440px;">

                        <div data-url="/public/images/62-buckingham-gate_044_done_2resize.jpg" class="img" style="width: 1440px; background-image: url(&quot;/public/images/62-buckingham-gate_044_done_2resize.jpg&quot;);"></div>

                    </div>
                    <div class="slide" style="width: 1440px;">

                        <div data-url="/public/images/62_buckingham_roi_5.jpg" class="img" style="width: 1440px; background-image: url(&quot;/public/images/62_buckingham_roi_5.jpg&quot;);"></div>

                    </div>


                </div>
            </section>
            <div class="info 62-Buckingham-Gate active" style="width: 604px; height: 415px;"><button class="animate-all info-toggle"></button><button class="animate-all info-toggle info-toggle-two"></button>

                <div style="position: static; visibility: visible; padding-top: 30px; padding-bottom: 30px; display: block;">
                    <h2 style="margin-bottom: 5px;">Overview</h2>
                    <span class="counter">1/5</span>
                    <p style="display: block;"></p><p style="display: block;">The Victoria district is undergoing a transformation to create one of the most exciting new commercial and cultural hubs in London. 62 Buckingham Gate, developed by Land Securities, is the gateway to this revitalized destination. The LSM-designed public spaces include the main lobby; situated on a prominent corner, this space opens up to Victoria and embraces the burgeoning neighborhood at street level, heightening the connection between the building and its urban surroundings. Every aspect of the lobby space - the transparent boundary, high ceilings, light fittings that span from inside to out, art works by Stuart Haygarth and Grayson Perry - enhances this connectivity. All public spaces in 62 Buckingham Gate evoke a similarly high level of quality and continuity of design that is established from the building’s first impression.</p><p style="display: block;"></p>

                </div>
                <div style="position: static; visibility: visible; padding-top: 30px; padding-bottom: 30px; display: none;" class="info-closed hide-toggle">
                    <h2 class="two-images" style="margin-bottom: 5px;">Process</h2>
                    <span class="counter">1/5</span>
                    <!--
<hr>
<button class="animate-all current btn-toggle before">Before</button>
<button class="animate-all btn-toggle after">After</button>
-->

                </div>
                <div style="position: static; visibility: visible; padding-top: 30px; padding-bottom: 30px; display: none;">
                    <h2 style="margin-bottom: 5px;">RETURN ON INVESTMENT</h2>
                    <span class="counter">1/5</span>
                    <p style="display: block;"></p><ul>
                    <li>62 Buckingham Gate is poised to be a transformative destination, not only for the sophisticated office tenants that have secured leases in the building, but for the entire community</li>
                </ul>
                    <ul>
                        <li>Ground-level public spaces invigorate the surrounding neighborhood, welcoming and drawing in the local community</li>
                    </ul>
                    <ul>
                        <li>The lobby space has become a forum for public gathering, with events that span the realms of art, fashion, technology, food and entertainment</li>
                    </ul><p style="display: block;"></p>

                </div>

            </div>
            <div class="artist-box" style="width: 206px;">
                <p>Artist: Grayson Perry</p>
            </div>
        </div>
        <button class="arrow arrow-right" style="right: 0px;"></button>
    </div>
    <div class="actions">
        <nav class="nav-section">
            <h1>62 Buckingham Gate:</h1>

            <ul>
                <li><a class="current" href="#/overview/1">Overview</a></li>
                <li><a href="#/process/1" class="">Process</a></li>
                <li><a href="#/return-on-investment/1" class="">RETURN ON INVESTMENT</a></li>
            </ul>
        </nav>


        <small class="photography-credits">IMAGES &copy; HUFTON + CROW PHOTOGRAPHY</small>
        <!--
    <nav class="nav-case-study">
                <button disabled></button>

            <span>Case Study</span>

                <a class="next" href="/case-studies/gannett-usa-today">Next</a>
        </nav>
    -->
    </div>

</div>
<footer class="footer">
    <small class="copyright">
        &copy;LSM 2014
    </small>
    <small>
        <a target="_blank" href="http://www.madebysix.com">Site design by Six</a>
    </small>
</footer>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/libs/jquery-ui.min.js"></script>
<script type="text/javascript" src="/public/js/libs/jquery.hashchange.min.js"></script>
<script type="text/javascript" src="/public/js/libs/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="/public/js/main.js"></script>
<script type="text/javascript">
    var siteUrl = 'http://lsm.com/case-studies/62-buckingham-gate/';
</script>
<script type="text/javascript" src="/public/js/libs/jquery.cookie.js"></script>


<script type="text/javascript" src="/public/js/case-study.js?v=0.0.1"></script>




</body></html>