<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"
      style=""><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>62 Buckingham Gate</title>
    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
    <meta content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"
          name="viewport">
    <meta content="telephone=no" name="format-detection">
    <link type="text/css" href="/public/css/font.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/site.css">
    <link rel="stylesheet" href="/public/css/qreous.css">

    <!--[if IE 8]>
    <script src="/public/js/libs/respond.min.js" type="text/javascript"></script>
    <!--<![endif]-->
    <script src="/public/js/libs/modernizr-2.6.2.js"></script>

</head>
<body class="projects">
<div class="orientation">
    <div class="device">
    </div>
    <div class="message">
        <h1>LSM.COM</h1>

        <p>The site is best viewed<br>on a tablet device or<br>desktop computer</p>
    </div>
    <div class="address">
        <p>1212 Banks NW <br>Washington, DC 20007 <br>Tel +1 202 295 4800</p>
    </div>
</div>
<div>
    <header class="header" style="overflow: hidden;">
        <nav role="navigation" class="nav">
            <ul>
                <li>
                    <img class="side-bar-toggle" src="/public/images/side-bar-toggle.png" height="42" width="42" onclick="return clickSidebar();"/>
                </li>
                <li class="projects li-parent">
                    <a onclick="return false;" href="#" class="first">Sign in</a>
                </li>
                <li class="collaborations li-parent">
                    <a href="/">Explore</a>
                </li>
                <li class="about li-parent">
                    <a href="/">Search</a>
                </li>
                <li class="story li-parent">
                    <a href="/">Story</a>
                </li>
                <li class="about li-parent">
                    <a href="/">About</a>
                </li>
            </ul>
        </nav>
    </header>
    <div role="main" class="main">
        <div class="intro-title" style="display: none;">
            62 Buckingham Gate
        </div>
        <div class="img-viewer" style="height: 795px;">
            <button class="arrow arrow-left" style="left: 0px;"></button>
            <div class="img-scroller" style="top: 0px;">
                <section id="melbourne" style="height: 795px;">
                    <div data-name="melbourne" class="row" data-count="6" style="width: 8640px; left: 0px;">
                        <div class="slide current" style="width: 1440px;">
                            <div data-url="/public/images/melbourne-flinderstation.jpg"
                                 class="img"
                                 style="width: 1440px; background-image: url(&quot;/public/images/melbourne-flinderstation.jpg&quot;);"></div>
                        </div>
                        <div class="slide" style="width: 1440px;">
                            <div data-url="/public/images/melbourne-yarrariver.jpg" class="img"
                                 style="width: 1440px; background-image: url(&quot;/public/images/melbourne-yarrariver.jpg&quot;);"></div>
                        </div>
                        <div class="slide" style="width: 1440px;">
                            <div data-url="/public/images/melbourne-yarravalley.jpg" class="img"
                                 style="width: 1440px; background-image: url(&quot;/public/images/melbourne-yarravalley.jpg&quot;);"></div>
                        </div>
                        <div class="slide" style="width: 1440px;">
                            <div data-url="/public/images/melbourne-lunapark.jpg" class="img"
                                 style="width: 1440px; background-image: url(&quot;/public/images/melbourne-lunapark.jpg&quot;);"></div>
                        </div>
                    </div>
                </section>
                <section id="sydney" style="height: 795px;">
                    <div data-name="Process" class="row" data-count="4" style="width: 5760px; left: 0px;">
                        <div class="slide" style="width: 1440px;">
                            <div data-url="/public/images/sydney_darlingharbour.JPG" class="img"
                                 style="width: 1440px; background-image: url(&quot;/public/images/sydney_darlingharbour.JPG&quot;);"></div>
                        </div>
                        <div class="slide" style="width: 1440px;">
                            <div data-url="/public/images/sydney-operahouse.jpg" class="img second"
                                 style="width: 1440px; background-image: url(&quot;/public/images/sydney-operahouse.jpg&quot;);">
                            </div>
                        </div>
                        <div class="slide" style="width: 1440px;">
                            <div data-url="/public/images/sydney-bridge.jpg" class="img second"
                                 style="width: 1440px; background-image: url(&quot;/public/images/sydney-bridge.jpg&quot;);">
                            </div>
                        </div>
                    </div>
                </section>
                <section id="brisbane" style="height: 795px;">
                    <div data-name="RETURN ON INVESTMENT" class="row" data-count="6" style="width: 8640px; left: 0px;">
                        <div class="slide" style="width: 1440px;">
                            <div data-artist="Stuart Haygarth" data-url="/public/images/brisbane-bridge.jpg"
                                 class="img"
                                 style="width: 1440px; background-image: url(&quot;/public/images/brisbane-bridge.jpg&quot;);"></div>
                        </div>
                        <div class="slide" style="width: 1440px;">
                            <div data-url="/public/images/brisbane-city.jpg" class="img"
                                 style="width: 1440px; background-image: url(&quot;/public/images/brisbane-city.jpg&quot;);"></div>
                        </div>
                    </div>
                </section>
            </div>
            <button class="arrow arrow-right" style="right: 0px;"></button>
        </div>
        <div class="actions">
            <nav class="nav-section">
                <h1>melbourne</h1>
                <ul>
                    <li><a class="current" href="#/melbourne/1">Flinder Station</a></li>
                    <li><a href="#/sydney/1" class="">Yarra River</a></li>
                    <li><a href="#/brisbane/1" class="">Yarra Valley</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--<div id="sidebar" class="sidebar hide">-->
        <ul id="sidebar" class="sidebar hide">
            <li>
                <a href="#"><img src="public/images/sidebar-melbourne.jpg" width="340" height="220"/></a>
                <b>Day one</b>
            </li>
            <li>
                <a href="#"><img src="public/images/sidebar-sydney.jpg" width="340" height="220"/></a>
                <b>Day two</b>
            </li>
            <li>
                <a href="#"><img src="public/images/sidebar-brisbane.jpg" width="340" height="220"/></a>
                <b>Day three</b>
            </li>
        </ul>
    <!--</div>-->
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/libs/jquery-ui.min.js"></script>
<script type="text/javascript" src="/public/js/libs/jquery.hashchange.min.js"></script>
<script type="text/javascript" src="/public/js/libs/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="/public/js/main.js"></script>
<script type="text/javascript" src="/public/js/qreous.js"></script>
<!--<script type="text/javascript">-->
    <!--var siteUrl = 'http://lsm.com/case-studies/62-buckingham-gate/';-->
<!--</script>-->
<script type="text/javascript" src="/public/js/libs/jquery.cookie.js"></script>


<script type="text/javascript" src="/public/js/case-study.js?v=0.0.1"></script>
<script>
    console.log("window height : " + $(window).height());
    console.log("header height : " + $('header').height());
    console.log("footer height : " + $('.actions').height());
</script>

</body>
</html>